[Desktop Entry]
Name=Nespresso
Type=Application
Icon=nespresso-webapp.png
Exec=webapp-container --store-session-cookies --webappUrlPatterns=https://*.nespresso.com/* http://mobile.nespresso.com/
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
